%p.lead= t('form.lead')

%form(action="/signup" method="post" role="form")
  #data-requests
    .data-request
      .row
        .col-md-9
          %input.form-control(name="data-requests[][description]" placeholder="#{t('form.request.example')}" type="text")
      .row
        .col-md-9
          %select.form-control(name="data-requests[][category]" onchange="addDataCategory(this)")
            %option(value="" disabled selected)= t('form.request.category.placeholder')
            %option= t('form.request.category.one')
            %option= t('form.request.category.two')
            %option= t('form.request.category.three')
            %option= t('form.request.category.four')
            %option= t('form.request.category.five')
            %option.other= t('form.request.category.other')
        .col-md-1
          %a#new-data-request(href="#" onclick="addDataRequest(this)")
            %i.glyphicon.glyphicon-plus
  #enrollment.form-inline.row
    .col-md-9
      %input#email.form-control{name: "email", placeholder: "#{t('form.email')}", type: "text"}
    .col-md-3
      %button#signup-submit.btn.form-control{type:"submit"}= t('form.signup')
  .row
    .col-md-12
      - if flash[:error]
        %div#errors= flash[:error]
      %p.disclaimer{style: "display:none;"}= t('form.disclaimer', :link => link_to("/privacidad", "#{request.host}/privacidad"))

