.container
  %p.lead= t('poll.closure.bar.title')
  #chart

  %p.lead= t('poll.closure.area.title')

  %p= t('poll.closure.area.footnote')

  %p.poll-action-wrapper
    %a(href="/datatron")= t('poll.closure.data')
    %a(href="https://docs.google.com/document/d/1o9OK54l2L1bFvS0jS1RUoyqV1qnCot4klRcmBVMGQHc/edit?usp=sharing")= t('poll.closure.method')

= erb :bar
