.container
  %p.lead= t('poll.closure.bar.title')

  %p.lead= t('poll.closure.area.title')

  %p= t('poll.closure.area.footnote')

  %p.poll-action-wrapper
    %a(href="/datatron")= t('poll.closure.data')
    %a(href="/datatron")= t('poll.closure.method')

