.container
  %h1= t('poll.closure.title')
  %p= t('poll.closure.subtitle')
  %hr
  %p.lead= t('poll.closure.bar.title')
  #chart

  %p.lead= t('poll.closure.area.title')
  #area

  %p.poll-action-wrapper
    %a(href="/answers/categories_dump.json")= t('poll.closure.data')
    %a(href="https://docs.google.com/document/d/1o9OK54l2L1bFvS0jS1RUoyqV1qnCot4klRcmBVMGQHc/edit?usp=sharing")= t('poll.closure.method')

%script(src="http://d3js.org/d3.v3.min.js")
= erb :bar
= erb :area

